html {
    position: relative;
    min-height: 100%;
}
body{	
	font-weight: normal;
    margin-bottom: 10vh;
    font-family: 'Open Sans', sans-serif;
}
h3{
    text-align: center;
}
img{
	max-width: 100%;
	height: auto;
}
.container-fluid{
    max-width: 1127px;
    width: auto!important;
}
.menu{
    background: #3E7FB9;
    border: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, .19);
    padding: 5px 0;
}
.form-group {
    margin-bottom: 0;
}
.navbar-default .navbar-brand{
    padding-right: 90px;
}
.navbar-default .navbar-brand img{
    position: relative;
    top: -7px;
}
.navbar-default .navbar-nav > li > a{
    color: #fff;
    font-size: 15px;
}
.navbar-nav > li > a{
    transition: all .5s;
    padding-top: 15px;
    padding-bottom: 7px;
}
.navbar-default .navbar-nav > li.active > a{
    border-bottom: 2px solid #fff;
    color: #fff;
    background: #3E7FB9;
}
.navbar-default .navbar-nav > li.active > a:hover{
    border-bottom: 2px solid #fff;
    color: #fff;
    background: #3E7FB9;
}
.navbar-default .navbar-nav:not(.icons) > li > a:hover{
    border-bottom: 2px solid #fff;
    color: #fff;
}
.navbar-right{
 padding-top: 7px;   
}
.content {
    padding-top: 80px;
    background: #fff;
    color: black;
}
.container-foot{
    color: black;
    padding-left: 30px;
    padding-right: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
    /*height: 30px;*/
}
.container {
    padding-right: 15px;
}
.widget-area {
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    float: left;
    position: relative;
    width: 100%;
}
.status-upload {
    background: none repeat scroll 0 0 #f5f5f5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    float: left;
    width: 100%;
}
.status-upload textarea {
    background: none repeat scroll 0 0 #fff;
    border: medium none;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    color: #000;
    float: left;
    font-size: 14px;
    height: 142px;
    letter-spacing: 0.3px;
    padding: 20px;
    resize:vertical;
    outline:none;
    border: 1px solid #F2F2F2;
}
.status-upload ul {
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0 0 0 15px;
    width: auto;
}
.status-upload ul > li {
    float: left;
}
.status-upload ul > li > a {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    color: #777777;
    float: left;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin: 10px 0 10px 10px;
    text-align: center;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    width: 30px;
    cursor: pointer;
}
.status-upload ul > li > a:hover {
    background: none repeat scroll 0 0 #606060;
color: #fff;
}
.status-upload button {
    border: medium none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    float: right;
    font-size: 14px;
    letter-spacing: 0.3px;
    margin-right: 9px;
    margin-top: 9px;
    padding: 6px 15px;
}
.dropdown > a > span.green:before {
    border-left-color: #2dcb73;
}
.check {
    opacity:0.5;
    color:#996;	
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center;
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}
#new-post {
    font-weight: 600;
    font-size: 14px;
    border: 1px solid #84B4E0;
    border-radius: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 170px;
    color: #FFF;
    text-align: center;
}
#user-profile {
    font-size: 14px;
    border: 1px solid #84B4E0;
    border-radius: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    width: 36px;
    color: #84B4E0;
}
#new-post:hover {
    animation: none;
    border: 1px solid #FFF!important;
    color: #FFF!important;
    opacity: 1;
}
#user-profile:hover {
    animation: none;
    border: 1px solid #FFF!important;
    color: #FFF!important;
    opacity: 1;
}
.more {
    font-weight: 700;
    font-size: 14px;
    border: 1px solid #3E7FB9;
    border-radius: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 500px;
    color: #3E7FB9;
    text-align: center;
    background-color: #fff;
}
.more:hover {
    border: 1px solid #337ab7!important;
    color: #fff!important;
    background-color: #3E7FB9;
    opacity: 1;
}
.navbar-nav>li>.dropdown-menu {
    margin-top: 7px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.arrow-user {
    position: absolute;
    top: -5px;
    left: 80%;
    margin-left: -1px;
    width: 12px;
    border-radius: 3px;
    height: 12px;
    background: #FFF;
    transform: rotateZ(45deg);
}
/*.username {
    display: block;
    height: 50px;
    line-height: 55px;
    margin: 0;
    text-align: center;
}*/
.usersettings {
    margin-top: 7px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 7px;
    vertical-align: middle;
    border-top: 1px solid #ddd;
    text-align: center;
}
.table-payments {
    margin-bottom: 0px;
}
.ap-tr {
    height: 70px;
}
.btn-label-subaction {
    position: relative;
    left: -12px;
    display: inline-block;
    padding: 7px 13px;
    background: #d2232a;
    color: #fff;
    border-radius: 3px 0 0 3px;
}
.btn-labeled {
    padding-top: 0;
    padding-bottom: 0;
}
.vk-post-images {
    max-width: 45px;
    max-height: 45px;
    margin-right: 7px;
}
.img-responsive {
    max-height: 100%;
    height: 250px;
}
.animate {
    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.home-post {
    text-align: center;
}

.home-post h2 {
    font-weight: normal;
}

.home-post .common-post {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 15px;
    cursor: pointer;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
.home-post .common-post figure {
    overflow: hidden;
    width: 100%;
	height: 196px;
    background: #3E7FB9;
    border-radius: 3px 3px 0px 0px;
}

.home-post img {
	width: 100%;
	height: auto;
}

.home-post .common-post h5 {
    margin: 0 0 7px;
    font-size: 18px;
	font-weight: 700;
	color: #3a3c41;
}
.home-post .common-post .for-border {
  margin-bottom: 20px;
}
.home-post .common-post .text-content {
  padding: 19px 14px 13px;
  height: 95px;
}
.home-post.post-var-two {
  text-align: left;
  background-color: #fff;
}
.home-post.post-var-two .slogan-section {
  text-align: left;
}
.home-post.post-var-two .common-post {
  background-color: transparent;
}
.home-post.post-var-two .common-post .for-border {
  display: none;
}
.home-post.post-var-two .common-post .text-content {
  padding: 20px 0 20px;
}
.home-post.post-var-two .text-center {
  text-align: left;
}

.slogan-section {
	margin-bottom: 50px;
	text-align: center;
}

.home-post .common-post .for-border {
	margin-bottom: 20px;
}

.for-border {
	height: 11px;
	width: 100%;
	background: transparent url(http://omarhabash.com/nova/wp-content/uploads/2014/08/feature-border.png) center center no-repeat;
	border: none;
}

.home-post .common-post h5 small {
	color: #008fd5;
	font-weight: bold;
	font-size: 0.8em;
	font-style: italic;
}

.home-post .common-post ul{
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	margin-top: -28px;
	text-align: center;
	margin-top: 10em;
	opacity: 0;
	z-index: 1;
}

.home-post .common-post li a {
	color: white;
	border: 2px solid rgba(255, 255, 255, 0.33);
}


.post-img{
	 /* Webkit for Chrome and Safari */
  -webkit-transform: scale(1, 1); /* This is the scale for the normal size of the image.*/
  -webkit-transition-duration: 500ms;
  -webkit-transition-timing-function: ease-out;
 
  /* Webkit for Mozila Firefox */
  -moz-transform: scale(1, 1);
  -moz-transition-duration: 500ms;
  -moz-transition-timing-function: ease-out;
 
  /* Webkit for IE( Version: 11, 10 ) */
  -ms-transform: scale(1, 1);
  -ms-transition-duration: 500ms;
  -ms-transition-timing-function: ease-out;
}

.post-item:hover .doc-img{
	 /* Webkit for Chrome and Safari */
  -webkit-transform: scale(1.2, 1.2); /* This is the enlarged size scale of the image. */
  -webkit-transition-duration: 500ms;
  -webkit-transition-timing-function: ease-out;
 
  /* Webkit for Mozila Firefox */
  -moz-transform: scale(1.2, 1.2);
  -moz-transition-duration: 500ms;
  -moz-transition-timing-function: ease-out;
 
  /* Webkit for IE( Version: 11, 10 ) */
  -ms-transform: scale(1.20, 1.20);
  -ms-transition-duration: 500ms;
  -ms-transition-timing-function: ease-out;

  opacity: 0.7;
}

.post-item:hover .social-lists{
	margin-top: -2em;
	opacity: 1;
}
.remove-image {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    cursor: pointer;
    width: 15px;
    height: 15px;
    line-height: 15px;
    font-size: 13px;
    text-align: center;
    border-radius: 0px 0px 0px 3px;
    background-color: rgba(0,0,0,0.5);
}
.remove-image:hover {
    color: #f00;
}
.dropzone-w {
    position: relative;
    background: #e1edf7;
    margin: 20px 0;
    border-radius: 4px;
    width: 100%;
    text-align: center;
    outline: 2px dashed #b9d4ec;
    outline-offset: -8px;
    transition: outline-offset .15s ease-in-out,background .15s linear;
}
.dropzone-w input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
input[type="file"] {
    display: block;
}
.dropzone-w .dropzone-icon {
    line-height: 50px;
    font-size: 50px;
    color: #337ab7;
    padding-top: 20px;
}
.dropzone-w .dropzone-text {
    margin-top: 10px;
    padding-bottom: 20px;
}
.attachments-w {
    position: absolute;
    right: 8px;
    top: 5px;
}
.attachments-w .btn-attach {
    font-size: 20px;
    text-decoration: none;
    color: #b5b5b5;
    width: 25px;
    margin-left: 5px;
    display: inline-block;
}
.error {
    color: red;
    font-size: 0.8em;
}
.text-content-error {
    padding: 19px 14px 13px;
    height: 113px;
}
.attach-img {
    position: relative;
    display: block;
    width: 124px;
    height: 100px;
    overflow: hidden;
    text-align: center;
    background: #F1F1F1;
}
.attach-img-vk {
    position: relative;
    display: block;
    width: 258px;
    height: 190px;
    overflow: hidden;
    text-align: center;
    background: #F1F1F1;
    cursor: pointer;
}
.img-thumbnail-ext {
    margin: 0px 2px 2px 0px;
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.sort {
    text-align: left;
    padding: 0px 0px 0px 38px;
}
.sort-vk {
    text-align: left;
    padding: 0 40px 0 40px;
}
.sort-view {
    padding: 0px;
}
.navmodal {
    padding: 0 0 0 15px;
}
.sortt {
    margin-top: 15px;
}
.bott {
    margin: 0 0 5px;
}
.remove-time {
    position: absolute;
    top: 0;
    right: 0;
    color: #b5b5b5;
    cursor: pointer;
    width: 15px;
    height: 15px;
    line-height: 15px;
    font-size: 13px;
    text-align: center;
}
.remove-time:hover {
    color: #f00;
}
.time {
    width: 62px;
    display: inline-block;
    position: relative;
    margin: 0 5px 7px 0;
}
li.time-divider {
    display: inline;
    margin-right: 12px;
}
li.time-divider.sec {
	margin-left: 9px;
}
.add-time {
    display: inline-block;
    position: relative;
    margin: 0 5px 10px 0;
}
.btn-add {
    width: 62px;
}
.offer {
    background: #fff;
    padding: 12px;
    padding-left: 16px;
    border-top: solid 3px #CCCCCC;
    border-radius: 5px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 10px 10px -5px rgba(0,0,0,.08);
       -moz-box-shadow: 0 10px 10px -5px rgba(0,0,0,.08);
            box-shadow: 0 10px 10px -5px rgba(0,0,0,.08);
}
.offer-clear {
    border-color: #fefefe;
    -webkit-box-shadow: 0 7px 10px -5px rgba(0,0,0,.15);
       -moz-box-shadow: 0 7px 10px -5px rgba(0,0,0,.15);
            box-shadow: 0 7px 10px -5px rgba(0,0,0,.15);
}
.offer-info {
    border-color: #b8dbf2;
}
.offer-success {
    border-color: #4cae4c;
}
.offer-warning {
    border-color: rgba(255,165,0,.5);
    font-size: 19px;
}
.offer-danger {
    border-color: #ec8282;
}
.offer-primary {
    border-color: #9ca6f1;
}
.offer-magick {
    border-color: #e0b8f2;
}
.offer-info-text {
    color: #39b3d7;
}
.offer-success-text {
    color: #4cae4c;
    font-size: 19px;
}
.offer-warning-text {
    color: #db9e34;
}
.offer-danger-text {
    color: #c9302c;
    font-size: 19px;
}
.offer-primary-text {
    color: rgba(47,106,215,.9);
}
.offer-magick-text {
    color: #bb39d7;
}
.msg {
    -webkit-box-shadow: 0 10px 10px -5px rgba(0,0,0,.08);
       -moz-box-shadow: 0 10px 10px -5px rgba(0,0,0,.08);
            box-shadow: 0 10px 10px -5px rgba(0,0,0,.08);
}
.msg-success {
    background-color: #4cae4c;
}
.msg-success-text {
    color: #fff;
}
.msg-danger {
    background-color: #d43f3a;
}
.msg-danger-text {
    color: #fff;
}
div.jGrowl div.jGrowl-closer {
    color: #000;
    -webkit-box-shadow: 0 7px 10px -5px rgba(0,0,0,.15);
       -moz-box-shadow: 0 7px 10px -5px rgba(0,0,0,.15);
            box-shadow: 0 7px 10px -5px rgba(0,0,0,.15);
}
.load-img {
    float: right!important;
    margin: 10px;
}
.uploaded {
    font-weight: 700;
}
.total {
    font-weight: 700;
}
.list {
    list-style-type: none;
    padding: 0;
}
.listrap-group {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.listrap-group li {
    margin: 0;
    padding: 0px 15px 15px 15px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #428bca;
}
.listrap-group a {
    margin-left: 10px;
    font-weight: 700;
}
.listrap-group .listrap-group-toggle {
    display: inline-block;
}
.clickable{
    cursor: pointer;   
}

.panel-heading span {
	margin-top: -20px;
}
.photos_album_title_wrap {
    color: #fff;
    text-align: left;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px 13px 5px;
    background-color: rgba(0, 0, 0, 0.5);
}
.spinner input {
  text-align: right;
}

.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 2%;
  vertical-align: middle;
  display: table-cell;
}

.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}

.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}

.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}

.input-group-btn-vertical i {
  position: absolute;
  top: 0;
  left: 4px;
}
.random-img {
    list-style-type: none;
    width: 60px;
    float: right;
    display: inline-block;
    margin: 0 15px 0 0px;
}
.random-txt {
    list-style-type: none;
}
.overflow-body {
    max-height: 700px;
    overflow-y: auto;
}
/*Nano scroller*/
.modal .nano > .nano-content {
    position: relative;
}
.listrap {
    list-style-type: none;
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.listrap li.active, .listrap li:hover {
    background-color: #d9edf7;
}

.listrap strong {
    margin-left: 10px;
}
.listrap .listrap-toggle span {
    background-color: #3e7fb9;
    opacity: 0.8;
    z-index: 100;
    width: 258px;
    height: 190px;
    display: none;
    position: absolute;
    text-align: center;
    line-height: 190px;
    font-size: 50px;
    vertical-align: middle;
    color: #ffffff;
}
.listrap .listrap-toggle span:before {
    font-family: 'FontAwesome';
    content: "\f00c";
}

.listrap li.active .listrap-toggle span {
    display: block;
}
.margin-text {
    margin: 7px 0 0 0;
}
.navbar-more {
    list-style-type: none;
    text-align: center;
    padding: 0;
}
.menu-user {
    margin: 0 15px 0 15px;
}
.dropdown-menu {
    margin: 0 -10px 0 0;
}
.send-feedback {
    border-color: #3E7FB9;
    border-left: 0;
    border-right: 0;
    background: #fefefe;
    color: #666666;
    font-weight: bold;
    font-size: small;
    padding: 9px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    margin-bottom: -3px;
    right: 150px;
    top : 100%; 
	left : 100%;	
	margin-top : -7px;
	margin-left : -311px;
    -webkit-box-shadow: 0 1px 9px 5px rgba(0,0,0,.08);
       -moz-box-shadow: 0 1px 9px 5px rgba(0,0,0,.08);
            box-shadow: 0 1px 9px 5px rgba(0,0,0,.08);
}
.send-feedback:hover{
	margin-top : -35px;
	margin-left : -311px;	
	-moz-transition:margin 0.3s linear;	
	-o-transition:margin 0.3s linear;	
	-webkit-transition:margin 0.3s linear;	
	-ms-transition:margin 0.3s linear;	
	transition:margin 0.3s linear;	
}
.btn-toolbar {
    padding: 15px 0 0 0;
    text-align: center;
}
.take-screenshot {
    top: 89%;
    left: 96%;
    margin-top: -35px;
    margin-left: -311px;
}
#slideout {
    position: fixed;
    top: 130px;
    left: -48px;
    background: #fff;
    /*width: 51px;*/
    padding: 5px 5px 0px 5px;
    border-right: solid 17px #3E7FB9;
    z-index: 999999;
    -webkit-border-radius: 0 0 5px 0;
    -moz-border-radius: 0 0 5px 0;
    -webkit-box-shadow: 0 0px 7px 3px rgba(0,0,0,.08);
       -moz-box-shadow: 0 0px 7px 3px rgba(0,0,0,.08);
            box-shadow: 0 0px 7px 3px rgba(0,0,0,.08);
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}
#slideout span {
    position: absolute;
    margin: 0px 0px 0px 45px;
    top: -1px;
    color: #fff;
}
#slideout:hover {
    left: 0px;
    z-index: 999999;
    /*border-right: solid 3px #3E7FB9;*/
}
.slide-style {
    width: .7em;
    width: 1ch;
    text-align: center;
    word-wrap: break-word;
    font-size: 7px;
    padding: 21px 0px 0px 4px;
}
.edit {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}
.edit li {
    margin: 0 0 5px 0;
    text-align: center;
}
.sdel {
    font-size: 15px!important;
}
.scopy {
    font-size: 12px!important;
}
.post_img {
    float: left;
    width: 50px;
}
.post_header {
    padding: 0px 0px 10px 0px;
}
.post_author {
    width: 300px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.post_date {
    font-size: 12px;
    color: #939393;
    float: left;
}
.post_info {
    width: 300px;
    margin-left: 60px;
    padding-top: 5px;
}
.post_text {
    margin: 0 0px 15px 0;
}
.edit_btn {
    float: right;
    margin: 7px 7px 10px 15px;
}
.view_post {
    height: 421px;
    margin: 0px 25px 0px 25px;
}
.img-pc-icon {
     -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    color: #777777;
    float: left;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin: 10px 0 10px 10px;
    text-align: center;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    width: 30px;
    cursor: pointer;
}
.img-pc input {
    position: absolute;
    width: 49px;
    height: 49px;
    opacity: 0;
    cursor: pointer;
}
.img-pc-icon:hover {
    background: none repeat scroll 0 0 #606060;
    color: #fff;
}
.img-pc input[type="file"] {
    display: none;
}
.rep_choo {
    float: left;
    margin: 7px 5px 0 0;
}
.repeat {
    display: inline-block;
    list-style: none;
    padding: 0;
}
.repeat_time {
    width: 62px;
    display: inline-block;
}
.repeat-radiobox {
    margin-bottom: 10px!important;
}
.attach-img-album {
    position: relative;
    display: block;
    width: 124px;
    height: 100px;
    overflow: hidden;
    text-align: center;
    background: #F1F1F1;
}
.album_title {
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    text-align: left;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px 13px 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: rgba(0,0,0,0.7);
}
.faq-panel {
    background: #fefefe;
    padding: 12px;
    padding-left: 16px;
    border-top: solid 3px #3E7FB9;
    border-radius: 5px;
    margin-bottom: 10px!important;
    -webkit-box-shadow: 0 10px 10px -5px rgba(0,0,0,.08);
       -moz-box-shadow: 0 10px 10px -5px rgba(0,0,0,.08);
            box-shadow: 0 10px 10px -5px rgba(0,0,0,.08);
}
[data-role="applyTextPacketButton"] {
	margin-top: 10px;
}
.panel-default>.panel-heading {
    color: #000;
    background-color: #fff;
    border-color: #ddd;
}
.panel-title>a {
    text-decoration: none;
}
.panel-title>a:hover {
    text-decoration: none;
}
.bold {
    font-weight: 700;
}
.paragraf {
    margin-left: 30px;
}
.img-thumbnail {
    margin: 0px 4px 4px 0px
}
.browser-text {
    color: #3E7FB9;
    font-weight: 700;
    font-size: 30px;
    margin: 30px 0px 30px 0px;
}
.browser {
    display: inline-block;
    /*margin: 20px;*/
}
.error-code {
    font-size: 250px;
    font-weight: 700;
    color: #3E7FB9;
    margin: 70px 0px 0px 0px;
}
.error-text {
    font-size: 19px;
    color: #3E7FB9;
    margin-top: 90px;
}
.btn-main {
    text-decoration: underline;
}
.error-msg {
    font-size: 30px;
    color: #3E7FB9;
}
.day-selector {
    list-style-type: none;
    width: 60px;
    display: inline-block;
    margin-left: 10px;
}
.repeat-day-selector {
    margin: 0px 0px 10px 0px;
}
.select-day {
    width: 70px;
}
.emoji-wysiwyg-editor {
    min-height: 150px;
}
.siu-msg {
    font-size: 30px;
    color: #3E7FB9;
    margin-top: 90px;
}
.siu-logo {
    font-size: 70px;
    color: #3E7FB9;
}
.group {
    text-align: center;
}
.copyright {
    text-align: center;
}
.live-int {
	text-align: center;
}
.amp .copyright {
    text-align: center;
}
.amp .fix-pre-footer {
	margin-bottom: 85px;
	clear: both;
}
.no-amp .fix-pre-footer {
    clear: both;
    height: 96px;
    margin-top: 10px;
}
.amp-version {
    text-align: center;
}
.amp .full-version {
    text-align: center;
}
.amp .navbar-default .navbar-brand {
	padding: 0px 10px 0px 10px;
	margin-top: 10px;
}
.amp .navbar-header {
    margin-top: 10px;
}
.amp .navbar-brand {
	float: none;
}
.amp .header-ttl {
	font-size: 24px;
	color: #fff;
	margin: 0;
}
.amp .faq h4 {
	font-weight: bold;
}
.c-red {
	color:red;
}
.b-r-5 {
	border-radius: 5px;
}
.b-r-19 {
    border-radius: 19px;
}
.b-r-30 {
    border-radius: 30px;
}
.copyright>a {
    color: #3E7FB9;
}
.copyright>a:visited {
    color: #3E7FB9;
}
.copyright>a:active {
    color: #3E7FB9;
}
#btn-next {
    display: inline-block;
    font-size: 19px;
    padding: 5px;
    color: #3E7FB9;
    border: 3px solid #3E7FB9;
    width: 450px;
    border-radius: 33px;
    text-decoration: none;
}
#btn-next:hover {
    border: 3px solid #339900!important;
    color: #339900!important;
    background-color: #fff;
    opacity: 1;    
}
.text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.repeat-menu {
    margin: 0px 0px 10px 0px;
}
.datepicker .datepicker-days tr .day.filled:not(.active):not(.today) {
    color: white;
    background: green;
}
.datepicker .datepicker-days tr .day.full:not(.active):not(.today) {
    color: white;
    background: gray;
}
.ds {
    display: inline-block;
}
.repeat-day-selector>span {
    vertical-align: 50%;
    margin-left: 2px;
}
.terms-title {
    font-size: 19px;
}
.terms-text {
    text-indent: 20px;
}
.repost-done {
    margin: -2px 3px 0px 0px;
    float: left;
}
.repost_img {
    float: left;
    width: 50px;
}
.repost_header {
    padding: 0px 0px 10px 0px;
}
.repost_author {
    width: 150%;
    font-weight: 700;
    color: #428bca;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.repost_text {
    font-size: 12px;
    color: #939393;
    margin: 0 0px 15px 0;    
}
.repost_text>p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.repost_info {
    width: 50%;
    margin-left: 60px;
    padding-top: 5px;
}
.load-stop {
    margin: -3px 0 0px 0px;
}
.disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.25;
}
.material-switch {
    margin: 0px 50px 0px 0px;
}
.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    /*width: 40px;*/
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}
.month {
    vertical-align: 50%;
    margin-left: 2px;
}
.checkbox-custom {
    display: inline; 
}
.user-button {
    margin: 0px 0 3px 0;
}
.btn-payment {
    float: right;
}
.rub {
  font-family: arial;
  vertical-align: middle;
  border-bottom: 1px solid;
  line-height: 3px;
  display: inline-block;
  width: 7px;
}
.currency {
    float: right!important;
}
.text-currency {
    float: left;
    margin: 7px 7px 0 0;
}
.choice-currency {
    width: 75px;
}
.pagination>li>a, .pagination>li>span {
    border-radius: 50% !important;
    margin: 0 5px;
}
.pagination-history {
    float: right;
}
.btn-user {
    margin: 9px 0px 0px 0px;
}
.add-post {
    margin-right: 15px;
}
.icon-bar {
    background-color: #fff!important;
}
.infinity {
    font-size: 30px;
}
.recaptcha-img {
    margin-bottom: 7px;
}
.recaptcha-play {
    margin: 0px 0px 0px 7px;
}
.recaptcha-title {
    text-align: center;
}
.modal-allert {
    top: 15%;
}
.play-post {
    margin: 0px 9px 0px 11px;
}
.info-icons {
    position: absolute;
    bottom: 20px;
    right: 21px;
    color: #3e7fb9;
    line-height: 15px;
    text-align: center;
}
.post-text-overflow {
    word-wrap: break-word;
    max-height: 2.6rem;
    /*lowline-height: 1.2;*/
    line-height: 1.2;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color: #3e7fb9!important;
}
.post-text-error-overflow {
    font-size: 0.8em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: red!important;
}
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-registration {
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall {
    margin-top: 30px;
    padding: 40px 0px 20px 0px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
}
.profile-img {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.filterable {
    margin-top: 15px;
}
.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}
.btn-admin {
    margin: 0px 3px 3px 0px;
}
.panel-height {
    height: 45px;
}
.search-user {
    margin-bottom: 5px;
}
.time-zone-allert {
    width: 77%;
    margin: 0px auto;
    margin-bottom: 10px; 
}
.link {
    width: 77%;
    text-align: center;
    margin: 0px auto;
    margin-bottom: 5px;
    position: relative;
}
.imglink {
    padding: 0px;
    list-style: none;
}
.add-link {
    display: inline-block;
}
.news-panel {
    margin-bottom: 30px;
}
.news-panel h4 {
    margin-bottom: 15px;
    color:#333;
}
.news-panel h4:hover {
    color:#3E7FB9;
    text-decoration:none;
}
.news-panel a:hover {
    text-decoration:none;
}
.news-panel p {
    margin-bottom:30px;
    line-height:25px;
    font-size:14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.news-text {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.9em;
    margin-bottom: 50px;
    text-align: justify;
}
.news-article {
    max-width: 90%;
    padding-left: 10%;
}
.btn-group a {
    padding: 0;
}
.btn-group .btn-vk:hover {
    color:#3B5998;
}
.news-img {
    margin: 0px 0px 50px 0px;
}
.news-article h1 {
    margin: 0px 0px 50px 0px;
    text-align: center;
    font-weight: 400;
    font-size: 45px;
    line-height: 1.6em;
}
.footer-news {
    margin: 15px 0px 0px 0px;
}
.info-icons-prew {
    margin: 7px 0px 0px 0px;
    color: #3e7fb9;
}
.info-icons-prew i {
    margin-right: 4px;
}
.info-icons i {
    margin-right: 4px;
}
.area {
  font-size: 14px;
  color: #fff;
  animation: blur 3s ease-out infinite;
  text-shadow: 0px 0px 3px #fff, 0px 0px 5px #fff;
}

@keyframes blur {
  from {
    text-shadow:0px 0px 1px #fff,
      0px 0px 1px #fff, 
      0px 0px 3px #fff,
      0px 0px 3px #fff,
      0px 0px 3px #fff,
      0px 0px 3px #fff,
      0px 0px 3px #fff,
      0px 0px 3px #fff,
      0px 0px 7px #fff,
      0px 0px 7px #fff,
      0px 0px 7px #7B96B8,
      0px 0px 50px #7B96B8,
      0px 1px 10px #7B96B8,
      0px 1px 10px #7B96B8,
      0px 1px 10px #7B96B8,
      0px 1px 10px #7B96B8,
      0px -1px 10px #7B96B8,
      0px -1px 10px #7B96B8;
  }
}
.gid-button {
    position: fixed;
    z-index: 10000;
    left: 18%;
    bottom: 20px; 
    width: 50px;
    height: 50px;
    font-size: 1.5em;
    color: #fff;
    background: #2C98DE;
    border: none;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,.275);
    outline: none;
}
.gid-button:hover {
    color: #2C98DE;
    background: #fff;
    border: 1px solid #2C98DE;
}
.gid-button:hover .fa-question {
    display: none;
}
.gid-button .fa-life-ring {
    display: none;
}
.gid-button:hover .fa-life-ring {
    display: inline;
}
.comment-img {
    padding: 0px;
}
.comment-button {
    position: relative;
}
.comment-notification {
    position: absolute;
    top: 10px;
    right: 0;
    color: #f9f9f9;
    background-color: #ff6d05;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    line-height: 15px;
    font-size: 11px;
    text-align: center;
}
.add-comment-button {
    padding: 0px;
    list-style: none;
}
.comment-text {
    margin: 0px 0px 15px 0px;
}
.comment-img {
    margin: 0px 0px 15px 0px;
}
.video-box {
    margin: 0px 4px 4px 0px;
    display: inline-block;
    padding: 4px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.video-vk {
    position: relative;
    display: block;
    width: 403px;
    height: 250px;
    overflow: hidden;
    text-align: center;
    background: #F1F1F1;
    cursor: pointer;
}
.video-title {
    color: #fff;
    text-align: left;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 0px 13px 0px;
    background-color: #000;
}
.video-list {
    padding: 0;
}
.video-album-title {
    color: #fff;
    text-align: left;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 13px 9px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #000;
}
.docs-pc-icon {
     -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    color: #777777;
    float: left;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin: 10px 0 10px 10px;
    text-align: center;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    width: 30px;
    cursor: pointer;
}
.docs-pc-icon:hover {
    background: none repeat scroll 0 0 #606060;
    color: #fff;
}
.docs-ext {
    margin: 0px 2px 2px 0px;
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.docs-attach {
    position: relative;
    display: block;
    width: 124px;
    height: 100px;
    font-size: 70px;
    vertical-align: middle;
    overflow: hidden;
    text-align: center;
    background: #F1F1F1;
    color: #848282;
}
.docs-title {
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    text-align: left;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px 13px 5px;
    background-color: rgba(0,0,0,0.7);
}
.docs-choose-rows .docs-item:last-child {
    padding: 10px 10px 10px 10px;
    line-height: 17px;
}
.docs-choose-rows .docs-item:hover {
    background-color: #e1edf7;
}
.docs-logo-file {
    float: left;
    font-size: 39px;
    color: #337ab7;
}
.docs-name {
    padding: 0px 0px 0px 10px;
}
.video-ext {
    margin: 0px 2px 2px 0px;
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.video-attach {
    position: relative;
    display: block;
    width: 124px;
    height: 100px;
    font-size: 70px;
    vertical-align: middle;
    overflow: hidden;
    text-align: center;
    background: #F1F1F1;
    color: #848282;
}
.video-title-block {
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    text-align: left;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px 13px 5px;
    background-color: rgba(0,0,0,0.7);
}
.news-img-text {
    width: 570px;
}
.go-to-top-button {
    position: fixed;
    z-index: 10000;
    right: 3%;
    bottom: 0px;
    margin: 0px 0px 20px;
    width: 50px;
    height: 50px;
    font-size: 1.5em;
    color: #fff;
    background: #2C98DE;
    border: none;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,.275);
    outline: none;
}
.go-to-top-button:hover {
    color: #2C98DE;
    background: #fff;
    border: 5px solid #2C98DE;
}
.go-to-top-button .in {
    vertical-align: 3px;
}
.fw400 {
    font-weight: 400;
}
.go-to-top-button:hover .in {
    display: none;
}
.go-to-top-button .out {
    display: none;
    vertical-align: 3px;
}
.go-to-top-button:hover .out {
    display: inline;
    vertical-align: 3px;
}
.comment-user {
    margin: 5px 0px 0px 10px;
}
.amp-version {
    font-size: 13px;
    margin-bottom: 20px;
}
.sort-images {
    float: right;
}
.date-right {
    position: absolute;
    top: 9px;
    right: 20px;
    color: #b5b5b5;
    cursor: pointer;
    width: 15px;
    height: 15px;
    line-height: 15px;
    font-size: 14px;
    text-align: center;
}
.date-right:hover {
    color: #3E7FB9;
}
.date-left {
    position: absolute;
    top: 9px;
    left: 20px;
    color: #b5b5b5;
    cursor: pointer;
    width: 15px;
    height: 15px;
    line-height: 15px;
    font-size: 14px;
    text-align: center;
}
.date-left:hover {
    color: #3E7FB9;
}
.ap-tr-name {
    height: 40px;
    background-color: #f5f5f5;
    font-weight: 700;
}
.batch-area {
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    float: left;
    position: relative;
    width: 100%;
}
.batch-upload {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    float: left;
    width: 100%;
}
.batch-upload textarea {
    background: none repeat scroll 0 0 #fff;
    border: medium none;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    color: #000;
    float: left;
    font-size: 14px;
    height: 142px;
    letter-spacing: 0.3px;
    padding: 20px;
    resize:vertical;
    outline:none;
    border: 1px solid #F2F2F2;
}
.batch-text p {
    max-width: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.batch-name {
    width: 30%;
}
.batch-text {
    width: 30%;
}
.batch-date {
    width: 15%;
}
.batch-status {
    width: 15%;
}
.batch-control {
    width: 10%;
}
.table-adaptive {
    border: 1px solid #ccc;
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
}
.table-adaptive thead {
    background-color: #f5f5f5;
}
.table-adaptive tr {
    border-top: 1px solid #ddd;
    padding: 5px;
}
.table-adaptive th,
.table-adaptive td {
    padding: 10px;
    text-align: center;
}
.table-adaptive th {
    font-size: 14px;
    letter-spacing: 1px;
}
.filters-id {
    width: 10%;
}
.filters-name {
    width: 25%;
}
.filters-created-ts {
    width: 15%;
}
.filters-last-vts {
    width: 20%;
}
.filters-posts {
    width: 15%;
}
.filters-control {
    width: 15%;
}
.ph-id {
    width: 10%;
}
.ph-date {
    width: 20%;
}
.ph-name {
    width: 30%;
}
.ph-status {
    width: 15%;
}
.ph-total {
    width: 15%;
}
.ph-control {
    width: 10%;
}
.input-group .form-control:last-child.border-inp {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.s-space:after {
    font-family: FontAwesome;
    content: "\00a0";
}
.comments-area {
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    float: left;
    position: relative;
    width: 100%;
}
.comments-upload {
    background: none repeat scroll 0 0 #f5f5f5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    float: left;
    width: 100%;
}
.comments-upload textarea {
    background: none repeat scroll 0 0 #fff;
    border: medium none;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    color: #000;
    float: left;
    font-size: 14px;
    height: 142px;
    letter-spacing: 0.3px;
    padding: 20px;
    resize:vertical;
    outline:none;
    border: 1px solid #F2F2F2;
}
.comments-upload button {
    border: medium none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    float: right;
    font-size: 14px;
    letter-spacing: 0.3px;
    margin: 0px 10px 10px 0px;
    padding: 6px 15px;
}
.comments-item-name {
    color: #e6400c;
    font-size: 16px;
    font-weight: 300;
    margin: 23px 0px 7px;
}
.comments-item-date {
    color: #656565;
    font-size: 12px;
}
.comments-item-list {
    border-bottom: 1px dotted #ccc;
    padding: 15px;
}
.add-random-text {
    position: absolute;
    top: 35px;
    right: 10px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    text-align: center;
}
.add-random-text a {
    color: #b5b5b5;
}
.add-random-text a:hover {
    color: #3E7FB9;
}
.add-random-text.parent-has-scroll {
    right: 28px;
}
.rt-notification {
    position: absolute;
    top: 46px;
    right: 4px;
    color: #f9f9f9;
    background-color: #3E7FB9;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    line-height: 15px;
    font-size: 11px;
    text-align: center;
    z-index: 999;
}
.random-text button {
    border: medium none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    float: right;
    font-size: 14px;
    letter-spacing: 0.3px;
    margin: 9px 9px 9px 0px;
    padding: 6px 15px;
}
.random-text {
    margin-bottom: 15px;
}
.random-text .emoji-menu .emoji-items-wrap {
    overflow: auto;
}
.example-pt {
    background: #fefefe;
    padding: 13px;
    padding-left: 15px;
    border-top: solid 3px #9ca6f1;
    border-radius: 5px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 10px 10px -5px rgba(0,0,0,.08);
       -moz-box-shadow: 0 10px 10px -5px rgba(0,0,0,.08);
            box-shadow: 0 10px 10px -5px rgba(0,0,0,.08);
}
.example-pt-left {
    margin-right: 10px;
}
.example-pt-right {
    margin-left: 10px;
}
.comments-text {
    float: left;
}
.comments-btn {
    float: right;
}
.forgot-password {
    float: right;
}
.reg-icons {
    border: 0;
    background: transparent;
    padding: 6px 15px 0px;
}
.reg-lines {
    border: 0;
    background-image: linear-gradient(#9c27b0, #9c27b0), linear-gradient(#D2D2D2, #D2D2D2);
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - 1px);
    background-color: transparent;
    transition: background 0s ease-out;
    float: none;
    box-shadow: none;
    border-radius: 0;
    font-weight: 400;
}
.account-wall-user {
    margin-top: 30px;
    padding: 20px 20px 20px 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
}
.info-text-registration {
    margin-top: 0px;
}
.reg-input-group {
    margin: 15px 0px 15px 0px;    
}
.subscribtion-news {
    margin: 50px 0px 15px 0px;
}
.repair-input-group {
    margin: 15px 0px 25px 0px;
}
.account_img {
    float: left;
    width: 50px;
}
.account_header {
    padding: 0px 10px 10px 10px;
}
.account_author {
    width: 300px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.account_btn {
    font-size: 12px;
    color: #939393;
    float: left;
}
.account_info {
    width: 300px;
    margin: 0px 0px 0px 60px;
    padding-top: 3px;
}
.account-notification {
    position: absolute;
    bottom: 10px;
    left: 50px;
    color: #f9f9f9;
    background-color: #3E7FB9;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    line-height: 15px;
    font-size: 11px;
    text-align: center;
    z-index: 999;
}
.account-notification-instagram {
    position: absolute;
    bottom: 10px;
    left: 50px;
    color: #f9f9f9;
    background-color: #ef4056;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    line-height: 15px;
    font-size: 11px;
    text-align: center;
    z-index: 999;
}
.account-notification-ok {
    position: absolute;
    bottom: 10px;
    left: 50px;
    color: #f9f9f9;
    background-color: #eea236;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    line-height: 15px;
    font-size: 11px;
    text-align: center;
    z-index: 999;
}
.account-notification-admin {
    position: absolute;
    bottom: 13px;
    left: 75px;
    color: #f9f9f9;
    background-color: #3E7FB9;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 15px;
    font-size: 15px;
    text-align: center;
    z-index: 999;
}
.add-social-account {
    margin: 0px 0px 25px 0px;
}
.soc-btn {
    margin: 0px 5px 5px 0px;
}
.admin-group-icon {
    display: block;
    position: relative;
}
.admin-group-icon>i {
    position: absolute;
    left: 9px;
    top: 6px;
}
.paylogo{
    height: 21px;
}
.paymetod{
    text-align: center;
}
.mbtn {
    margin: 0px 3px 3px 0px;
}
.chmail {
    float: right;
    margin: 0px 15px 5px 15px;
}
.change-mail-load {
    position: absolute;
    top: 9px;
    right: 25px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    font-size: 14px;
    text-align: center;
}
.center {
    text-align: center;
}
.repost-text {
    resize: vertical;
    min-height: 100px;
    max-height: 250px;
}
.description {
    font-size: 11px;
}
.support-vk-button {
    position: fixed;
    z-index: 10000;
    left: 30px;
    bottom: 20px;    
    width: 50px;
    height: 50px;
    font-size: 1.5em;
    color: #fff;
    background: #2C98DE;
    border: none;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,.275);
    outline: none;
}
.support-vk-button:hover {
    color: #2C98DE;
    background: #fff;
    border: 1px solid #2C98DE;
}
.support-vk-button:hover .fa-vk {
    display: none;
}
.support-vk-button .fa-envelope-o {
    display: none;
}
.support-vk-button:hover .fa-envelope-o {
    display: inline;
}
.accounts-menu {
    margin: 0px 0px 0px 15px;
}
.superuser {
    margin-top: 7px;
}
.users_account_img {
    float: left;
    width: 35px;
    margin: -7px 0px 0px 0px;
}
.users_account_img span {
    position: absolute;
    top: 30px;
    left: 43px;
    color: #f9f9f9;
    background-color: #3E7FB9;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    line-height: 15px;
    font-size: 11px;
    text-align: center;
    z-index: 999;
}
.users_account_info {
    margin: 0px 0px 0px 45px;
}
.users_post_author {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.users-arrow-menu {
    position: absolute;
    top: -5px;
    right: 10%;
    margin-left: -1px;
    width: 12px;
    border-radius: 3px;
    height: 12px;
    background: #FFF;
    transform: rotateZ(45deg);
}
@media screen and (max-width: 600px) {
    .table-adaptive {
        border: 0;
    }
    .table-adaptive thead {
        display: none;
    }
    .table-adaptive tr {
        margin-bottom: 10px;
    }
    .table-adaptive td {
        display: block;
        text-align: right;
        font-size: 12px;
        border-bottom: 1px dashed #ccc;
    }
    .table-adaptive td:last-child {
        border-bottom: 0;
    }
    .table-adaptive td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
    }
    .infinity {
        font-size: 14px;
    }
    .nav-tabs {
        border: none;
    }
    .nav-tabs>li {
        margin-bottom: 5px;
        width: 100%;
    }
    .nav-tabs>li.active {
        margin-bottom: 5px;
        width: 100%;
        border-bottom: 2px solid #3E7FB9;
    }
    .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
        color: #555;
        cursor: default;
        background-color: #fff;
        border: none;
        border-bottom-color: transparent;
    }
    .nav-tabs>li>a:hover {
        border-color: #fff;
    }
    .currency {
        margin: 5px 0px 5px 0px;
    }
    .sort {
        padding: 0px 0px 0px 23px;
    }
    .status-upload button {
        width: 95%;
    }
    .timew {
        padding: 0px 0px 0px 21px;
    }
    .row {
        margin-right: -10px;
        margin-left: -10px;
    }
    .load-img {
        padding-left: 27px;
    }
    .example-pt-left {
    margin-right: 0px;
    }
    .example-pt-right {
        margin-left: 0px;
    }
}
@media (max-width: 768px){
    .navbar-nav .open .dropdown-menu {
        background-color: #fff!important;
        margin: 7px 0px 0px 0px;
        text-align: center;
    }
    .arrow-user {
        top: 38px;
        left: 50%;
    }
    #user-profile {
        border-radius: 30px;
        width: 100%;
        text-align: center;
    }
    .add-post {
        margin: 15px 15px 0px 15px;
        padding: 0px;
    }
    #new-post {
        width: 100%;
    }
    .list {
        margin: 0px 0px 15px 15px;
    }
    .news-article h2 {
        font-size: 33px;
    }
    .news-article {
        max-width: 100%;
        padding-left: 0px;
    }
    .news-img-text {
        width: 100%;
        height: 100%;
    }
}
@media (max-width: 480px){
	.gid {
	    display: none;
	}
    /*.support-vk {
	    display: none;
	}*/
	.field-schedulefilterform-groupid {
	    max-width: 255px;
	}
	.field-schedulefilterform-groupid .dropdown-menu {
	    max-width: 255px;
	}
	.field-postsearch-groupid {
	    max-width: 255px;
	}
	.field-postsearch-groupid .dropdown-menu {
	    max-width: 255px;
	}
}
@media (max-width: 320px){
    .news-article {
        max-width: 100%;
        padding-left: 0px;
    }
    .news-article h1 {
        font-size: 16px;
    }
    .news-text {
        font-size: 14px;
    }    
}
