html {
    position: relative;
    min-height: 100%;
}
body{	
	font-weight: normal;
    margin-bottom: 10vh;
    font-family: 'Open Sans', sans-serif;
}
h3{
    text-align: center;
}
img{
	max-width: 100%;
	height: auto;
}
.container-fluid{
    max-width: 1127px;
    width: auto!important;
}
.menu{
    background: #3E7FB9;
    border: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, .19);
    padding: 5px 0;
}
.form-group {
    margin-bottom: 0;
}
.navbar-default .navbar-brand{
    padding-right: 90px;
}
.navbar-default .navbar-brand img{
    position: relative;
    top: -7px;
}
.navbar-default .navbar-nav > li > a{
    color: #fff;
    font-size: 15px;
}
.navbar-nav > li > a{
    transition: all .5s;
    padding-top: 15px;
    padding-bottom: 7px;
}
.navbar-default .navbar-nav > li.active > a{
    border-bottom: 2px solid #fff;
    color: #fff;
    background: #3E7FB9;
}
.navbar-default .navbar-nav > li.active > a:hover{
    border-bottom: 2px solid #fff;
    color: #fff;
    background: #3E7FB9;
}
.navbar-default .navbar-nav:not(.icons) > li > a:hover{
    border-bottom: 2px solid #fff;
    color: #fff;
}
.navbar-right{
 padding-top: 7px;   
}
.content {
    padding-top: 80px;
    background: #fff;
    color: black;
}
.container-foot{
    color: black;
    padding-left: 30px;
    padding-right: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vh;
}
.container {
    padding-right: 15px;
}
.widget-area {
background-color: #fff;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
float: left;
position: relative;
width: 100%;
}
.status-upload {
background: none repeat scroll 0 0 #f5f5f5;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
float: left;
width: 100%;
}
.status-upload textarea {
background: none repeat scroll 0 0 #fff;
border: medium none;
-webkit-border-radius: 4px 4px 0 0;
-moz-border-radius: 4px 4px 0 0;
-ms-border-radius: 4px 4px 0 0;
-o-border-radius: 4px 4px 0 0;
border-radius: 4px 4px 0 0;
color: #000;
float: left;
font-size: 14px;
height: 142px;
letter-spacing: 0.3px;
padding: 20px;
resize:vertical;
outline:none;
border: 1px solid #F2F2F2;
}

.status-upload ul {
float: left;
list-style: none outside none;
margin: 0;
padding: 0 0 0 15px;
width: auto;
}
.status-upload ul > li {
float: left;
}
.status-upload ul > li > a {
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
color: #777777;
float: left;
font-size: 14px;
height: 30px;
line-height: 30px;
margin: 10px 0 10px 10px;
text-align: center;
-webkit-transition: all 0.4s ease 0s;
-moz-transition: all 0.4s ease 0s;
-ms-transition: all 0.4s ease 0s;
-o-transition: all 0.4s ease 0s;
transition: all 0.4s ease 0s;
width: 30px;
cursor: pointer;
}
.status-upload ul > li > a:hover {
background: none repeat scroll 0 0 #606060;
color: #fff;
}
.status-upload button {
border: medium none;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
color: #fff;
float: right;
font-size: 14px;
letter-spacing: 0.3px;
margin-right: 9px;
margin-top: 9px;
padding: 6px 15px;
}
.dropdown > a > span.green:before {
border-left-color: #2dcb73;
}
.status-upload button > i {
margin-right: 7px;
}
.check {
opacity:0.5;
color:#996;
	
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center;
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}
#new-post {
    font-weight: 600;
    font-size: 14px;
    border: 1px solid #84B4E0;
    border-radius: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 170px;
    color: #FFF;
    text-align: center;
}
#user-profile {
    font-size: 14px;
    border: 1px solid #84B4E0;
    border-radius: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    width: 36px;
    color: #84B4E0;
}
#new-post:hover {
    animation: none;
    border: 1px solid #FFF!important;
    color: #FFF!important;
    opacity: 1;
}
#user-profile:hover {
    animation: none;
    border: 1px solid #FFF!important;
    color: #FFF!important;
    opacity: 1;
}
.more {
    font-weight: 700;
    font-size: 14px;
    border: 1px solid #3E7FB9;
    border-radius: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 500px;
    color: #3E7FB9;
    text-align: center;
    background-color: #fff;
}
.more:hover {
    border: 1px solid #337ab7!important;
    color: #fff!important;
    background-color: #3E7FB9;
    opacity: 1;
}
.navbar-nav>li>.dropdown-menu {
    margin-top: 7px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.arrow-user {
    position: absolute;
    top: -5px;
    left: 80%;
    margin-left: -1px;
    width: 12px;
    border-radius: 3px;
    height: 12px;
    background: #FFF;
    transform: rotateZ(45deg);
}
.username {
    display: block;
    height: 50px;
    line-height: 55px;
    margin: 0;
    text-align: center;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 7px;
    vertical-align: middle;
    border-top: 1px solid #ddd;
    text-align: center;
}
.ap-tr {
    height: 70px;
   }
.btn-label-subaction {
    position: relative;
    left: -12px;
    display: inline-block;
    padding: 7px 13px;
    background: #d2232a;
    color: #fff;
    border-radius: 3px 0 0 3px;
}
.btn-labeled {
    padding-top: 0;
    padding-bottom: 0;
}
.vk-post-images {
    max-width: 45px;
    max-height: 45px;
    margin-right: 7px;
}
.img-responsive {
    max-height: 100%;
    height: 250px;
}
.animate {
    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.home-post {
    text-align: center;
}

.home-post h2 {
    font-weight: normal;
}

.home-post .common-post {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 15px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
.home-post .common-post figure {
    overflow: hidden;
    width: 100%;
	height: 196px;
    background: #3E7FB9;
}

.home-post img {
	width: 100%;
	height: auto;
}

.home-post .common-post h5 {
    margin: 0 0 7px;
    font-size: 18px;
	font-weight: 700;
	color: #3a3c41;
}
.home-post .common-post .for-border {
  margin-bottom: 20px;
}
.home-post .common-post .text-content {
  padding: 19px 14px 13px;
  height: 95px;
}
.home-post.post-var-two {
  text-align: left;
  background-color: #fff;
}
.home-post.post-var-two .slogan-section {
  text-align: left;
}
.home-post.post-var-two .common-post {
  background-color: transparent;
}
.home-post.post-var-two .common-post .for-border {
  display: none;
}
.home-post.post-var-two .common-post .text-content {
  padding: 20px 0 20px;
}
.home-post.post-var-two .text-center {
  text-align: left;
}

.slogan-section {
	margin-bottom: 50px;
	text-align: center;
}

.home-post .common-post .for-border {
	margin-bottom: 20px;
}

.for-border {
	height: 11px;
	width: 100%;
	background: transparent url(http://omarhabash.com/nova/wp-content/uploads/2014/08/feature-border.png) center center no-repeat;
	border: none;
}

.home-post .common-post h5 small {
	color: #008fd5;
	font-weight: bold;
	font-size: 0.8em;
	font-style: italic;
}

.home-post .common-post ul{
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	margin-top: -28px;
	text-align: center;
	margin-top: 10em;
	opacity: 0;
	z-index: 1;
}

.home-post .common-post li a {
	color: white;
	border: 2px solid rgba(255, 255, 255, 0.33);
}


.post-img{
	 /* Webkit for Chrome and Safari */
  -webkit-transform: scale(1, 1); // This is the scale for the normal size of the image.
  -webkit-transition-duration: 500ms;
  -webkit-transition-timing-function: ease-out;
 
  /* Webkit for Mozila Firefox */
  -moz-transform: scale(1, 1);
  -moz-transition-duration: 500ms;
  -moz-transition-timing-function: ease-out;
 
  /* Webkit for IE( Version: 11, 10 ) */
  -ms-transform: scale(1, 1);
  -ms-transition-duration: 500ms;
  -ms-transition-timing-function: ease-out;
}

.post-item:hover .doc-img{
	 /* Webkit for Chrome and Safari */
  -webkit-transform: scale(1.2, 1.2); // This is the enlarged size scale of the image.
  -webkit-transition-duration: 500ms;
  -webkit-transition-timing-function: ease-out;
 
  /* Webkit for Mozila Firefox */
  -moz-transform: scale(1.2, 1.2);
  -moz-transition-duration: 500ms;
  -moz-transition-timing-function: ease-out;
 
  /* Webkit for IE( Version: 11, 10 ) */
  -ms-transform: scale(1.20, 1.20);
  -ms-transition-duration: 500ms;
  -ms-transition-timing-function: ease-out;

  opacity: 0.7;
}

.post-item:hover .social-lists{
	margin-top: -2em;
	opacity: 1;
}
.remove-image {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    cursor: pointer;
    width: 15px;
    height: 15px;
    line-height: 15px;
    font-size: 13px;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
}
.remove-image:hover {
    color: #f00;
}
.dropzone-w {
    position: relative;
    background: #e1edf7;
    margin: 20px 0;
    border-radius: 4px;
    width: 100%;
    text-align: center;
    outline: 2px dashed #b9d4ec;
    outline-offset: -8px;
    transition: outline-offset .15s ease-in-out,background .15s linear;
}
.dropzone-w input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
input[type="file"] {
    display: block;
}
.dropzone-w .dropzone-icon {
    line-height: 50px;
    font-size: 50px;
    color: #337ab7;
    padding-top: 20px;
}
.dropzone-w .dropzone-text {
    margin-top: 10px;
    padding-bottom: 20px;
}
.attachments-w {
    position: absolute;
    right: 8px;
    top: 5px;
}
.attachments-w .btn-attach {
    font-size: 20px;
    text-decoration: none;
    color: #b5b5b5;
    width: 25px;
    margin-left: 5px;
    display: inline-block;
}
.error {
    color: red;
    font-size: 0.8em;
}
.text-content-error {
    padding: 19px 14px 13px;
    height: 113px;
}
.attach-img {
    position: relative;
    display: block;
    width: 115px;
    height: 90px;
    overflow: hidden;
    text-align: center;
    background: #F1F1F1;
}
.attach-img-vk {
    position: relative;
    display: block;
    width: 258px;
    height: 190px;
    overflow: hidden;
    text-align: center;
    background: #F1F1F1;
    cursor: pointer;
}
.img-thumbnail {
    margin: 0 1px 5px;
}
.img-thumbnail-ext {
    margin: 0 1px 5px;
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.sort {
    text-align: left;
}
.sort-vk {
    text-align: left;
    padding: 0 40px 0 40px;
}
.sort-view {
    padding: 0px 0px 0px 15px;
}
.navmodal {
    padding: 0 0 0 15px;
}
.sortt {
    margin-top: 15px;
}
.bott {
    margin: 0 0 5px;
}
.remove-time {
    position: absolute;
    top: 0;
    right: 0;
    color: #b5b5b5;
    cursor: pointer;
    width: 15px;
    height: 15px;
    line-height: 15px;
    font-size: 13px;
    text-align: center;
}
.remove-time:hover {
    color: #f00;
}
.time {
    width: 62px;
    display: inline-block;
    position: relative;
    margin: 0 5px 7px 0;
}
/* .timew {
    padding: 0;
} */
.add-time {
    display: inline-block;
    position: relative;
    margin: 0 5px 10px 0;
}
.btn-add {
    width: 62px;
}
.msg {
    -webkit-box-shadow: 0 10px 10px -5px rgba(0,0,0,.08);
       -moz-box-shadow: 0 10px 10px -5px rgba(0,0,0,.08);
            box-shadow: 0 10px 10px -5px rgba(0,0,0,.08);
}
.msg-success {
    background-color: #4cae4c;
}
.msg-success-text {
    color: #fff;
}
.msg-danger {
    background-color: #d43f3a;
}
.msg-danger-text {
    color: #fff;
}
div.jGrowl div.jGrowl-closer {
    color: #000;
    -webkit-box-shadow: 0 7px 10px -5px rgba(0,0,0,.15);
       -moz-box-shadow: 0 7px 10px -5px rgba(0,0,0,.15);
            box-shadow: 0 7px 10px -5px rgba(0,0,0,.15);
}
.load-img {
    float: right!important;
    margin: 10px;
}
.uploaded {
    font-weight: 700;
}
.total {
    font-weight: 700;
}
.list {
    list-style-type: none;
    padding: 0;
}
.listrap-group {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.listrap-group li {
    margin: 0;
    padding: 10px;
}
.listrap-group a {
    margin-left: 10px;
    font-weight: 700;
}
.listrap-group .listrap-group-toggle {
    display: inline-block;
}
.clickable{
    cursor: pointer;   
}

.panel-heading span {
	margin-top: -20px;
}
.photos_album_title_wrap {
    color: #fff;
    font-weight: 700;
    text-align: left;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 70px 13px 9px;
    background-image: url(../img/album_top_shadow.png);
}
.spinner input {
  text-align: right;
}

.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 2%;
  vertical-align: middle;
  display: table-cell;
}

.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}

.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}

.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}

.input-group-btn-vertical i {
  position: absolute;
  top: 0;
  left: 4px;
}
.random-img {
    list-style-type: none;
    width: 60px;
    float: right;
    display: inline-block;
    margin: 0 15px 0 0px;
}
.random-txt {
    list-style-type: none;
}
.overflow-body {
    max-height: 700px;
    overflow-y: auto;
}
/*Nano scroller*/
.modal .nano > .nano-content {
    position: relative;
}
.listrap {
    list-style-type: none;
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.listrap li.active, .listrap li:hover {
    background-color: #d9edf7;
}

.listrap strong {
    margin-left: 10px;
}
.listrap .listrap-toggle span {
    background-color: #3e7fb9;
    opacity: 0.8;
    z-index: 100;
    width: 258px;
    height: 190px;
    display: none;
    position: absolute;
    text-align: center;
    line-height: 190px;
    font-size: 50px;
    vertical-align: middle;
    color: #ffffff;
}

.listrap .listrap-toggle span:before {
    font-family: 'FontAwesome';
    content: "\f00c";
}

.listrap li.active .listrap-toggle span {
    display: block;
}
.emoji-menu {
    margin: 50px 0 0 0;
}
.margin-text {
    margin: 7px 0 0 0;
}
.navbar-more {
    list-style-type: none;
    text-align: center;
    padding: 0;
}
.menu-user {
    margin: 0 10px 0 0;
}
.dropdown-menu {
    margin: 0 -10px 0 0;
}
.send-feedback {
    border-color: #3E7FB9;
    border-left: 0;
    border-right: 0;
    background: #fefefe;
    color: #666666;
    font-weight: bold;
    font-size: small;
    padding: 9px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    margin-bottom: -3px;
    right: 150px;
    top : 100%; 
	left : 100%;	
	margin-top : -7px;
	margin-left : -311px;
    -webkit-box-shadow: 0 1px 9px 5px rgba(0,0,0,.08);
       -moz-box-shadow: 0 1px 9px 5px rgba(0,0,0,.08);
            box-shadow: 0 1px 9px 5px rgba(0,0,0,.08);
}
.send-feedback:hover{
	margin-top : -35px;
	margin-left : -311px;	
	-moz-transition:margin 0.3s linear;	
	-o-transition:margin 0.3s linear;	
	-webkit-transition:margin 0.3s linear;	
	-ms-transition:margin 0.3s linear;	
	transition:margin 0.3s linear;	
}
.btn-toolbar {
    padding: 15px 0 0 0;
    text-align: center;
}
.take-screenshot {
    top: 89%;
    left: 96%;
    margin-top: -35px;
    margin-left: -311px;
}
#slideout {
    position: fixed;
    top: 130px;
    left: -45px;
    background: #fff;
    width: 51px;
    padding: 5px 5px 0px 5px;
    border-right: solid 3px #3E7FB9;
    z-index: 999999;
    -webkit-border-radius: 0 0 5px 0;
    -moz-border-radius: 0 0 5px 0;
    -webkit-box-shadow: 0 0px 7px 3px rgba(0,0,0,.08);
       -moz-box-shadow: 0 0px 7px 3px rgba(0,0,0,.08);
            box-shadow: 0 0px 7px 3px rgba(0,0,0,.08);
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}
#slideout:hover {
    left: 0px;
    z-index: 999999;
}
.edit {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}
.edit li {
    margin: 0 0 5px 0;
    text-align: center;
}
.sdel {
    font-size: 15px!important;
}
.scopy {
    font-size: 12px!important;
}
.post_img {
    float: left;
    width: 50px;
}
.post_header {
    padding: 0px 15px 10px 15px;
}
.post_author {
    font-weight: 700;
}
.post_date {
    font-size: 12px;
    color: #939393;
}
.post_info {
    margin-left: 60px;
    padding-top: 5px;
}
.post_text {
    margin: 0 0px 15px 0;
}
.edit_btn {
    float: right;
        margin: 7px 15px 10px 15px;
}
.view_post {
    height: 421px;
    margin: 0px 25px 0px 25px;
}
.img-pc-icon {
     -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    color: #777777;
    float: left;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin: 10px 0 10px 10px;
    text-align: center;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    width: 30px;
    cursor: pointer;
}
.img-pc input {
    position: absolute;
    width: 49px;
    height: 49px;
    opacity: 0;
    cursor: pointer;
}
.img-pc-icon:hover {
    background: none repeat scroll 0 0 #606060;
    color: #fff;
}
.img-pc input[type="file"] {
    display: none;
}