/*
========================================================================
Index
------------------------------------------------------------------------

# 1 - General styles
# - 1.1 - Heading styles
# - 1.2 - Button styles
# - 1.3 - Preloader styles
# 2 - Header styles
# - 2.1 - Menu styles
# - 2.2 - App styles
# 3 - Banner styles
# 4 - Intro styles
# 5 - Feature styles
# 6 - Why it best styles
# 7 - How it work styles
# 8 - Screenshots styles
# 9 - Review styles
# 10 - Pricing table styles
# 11 - Help & Support styles
# 12 - Subscription styles
# 13 - Contact styles
# - 13.1 - Contact-form
# - 13.2 - Contact-info
# 14 - Footer styles

*/

/*
========================================================================
# 1 - General styles
------------------------------------------------------------------------
*/

html, 
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #798289;
  line-height: 1.6;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
a {
  color: #00a7dd;
}
a:hover {
  color: #017298;
}
ul, li {
  list-style: none;
  margin:0 0 10px;
  padding: 0;
}
.white {
  background: #fff;
}
.sub-head {
  display: block;
  text-align: center;
  font-size: 16px;
  color: #798289;
  text-transform: uppercase;
}
.title {
  display: block;
  text-align: center;
}
.title h2 {
  display: inline-block;
  position: relative;
  border-bottom: 1px solid #e1e1e1;
  padding: 0 30px 10px;
  color: #0aabe1;
}
.title h2:after {
  background: none repeat scroll 0 0 #0aabe1;
  bottom: -1px;
  content: "";
  height: 1px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  width: 50px;
}
.title h2:hover:after { 
  left: 0;
  margin-left: 0px;
  width: 100%;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
}
.app:before,
.app:after {
  display: table;
  content: " ";
}
.app:before,
.app:after {
  clear: both;
}
.video .trans-bg {
  padding: 0;
}
.trans-bg {
  position: relative;
  background: #3E7FB9;
  padding: 120px 0px;
}
.trans-bg-top {
  padding: 70px 0px 0px 0px;
}

::-moz-selection { background: #A9D0F5; color: #5F5A5A }
     ::selection { background: #A9D0F5; color: #5F5A5A } 

/*------ For solid background color-----*/
section.solid-bg, #footer.solid-bg {
  background: #166183;
  padding: 120px 0;
}
#owl-demo .item img {
  display: block;
  width: 100%;
  height: auto;
}

/*
========================================================================
# - 1.1 - Heading styles
------------------------------------------------------------------------
*/
h1, h2, h3, h4 {
  font-family: 'Open Sans', sans-serif;
  margin: 10px 0;
} 

h1 {
  font-size: 60px;
}
h2 {
  font-size: 46px;
}
h3 {
  font-size: 24px;  
}
h4 {
  font-size: 20px
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 12px;
}

/*
========================================================================
# - 1.2 - Button styles
------------------------------------------------------------------------
*/

.btn {
  color: #0aabe1;
  background: transparent;
  border: 1px solid #0aabe1;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 2px;
  padding: 8px 30px;
  position: relative;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.btn:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0px;
  height: 0px;
  background: #0aabe1;
  -webkit-transition: all .4s ease;
     -moz-transition: all .4s ease;
      -ms-transition: all .4s ease;
       -o-transition: all .4s ease;
          transition: all .4s ease;
}
.btn:hover:after {
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.btn:hover,
.btn.active,
.btn:active {
  color: #fff;
  z-index: 1;    
}


/*
========================================================================
# - 1.3 - Preloader styles
------------------------------------------------------------------------
*/

#faceoff {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#preloader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #2B8B90;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    z-index: 1001;
}

#preloader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #356F66;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#preloader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #92E0D4;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0%   { 
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   { 
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

#faceoff .preloader-section {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 1000;
    -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(0);  /* IE 9 */
    transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
}

/* Loaded */
.loaded #faceoff .preloader-section {
    -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateY(-100%);  /* IE 9 */
            transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
            transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #preloader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
}
.loaded #faceoff {
    visibility: hidden;

    -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateY(-100%);  /* IE 9 */
            transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.3s 1s ease-out;
            transition: all 0.3s 1s ease-out;
}

/*
========================================================================
# 2 - Header styles
------------------------------------------------------------------------
*/

header {
  padding: 15px 0px 5px;
  background-color: #fff;
  -webkit-box-shadow:0 0 9px -5px #000;
  -moz-box-shadow:0 0 9px -5px #000;
  box-shadow:0 0 9px -5px #000;
}
header .navbar-default {
  background-color: #fff;
  border-color: transparent;
}
header .navbar-default .navbar-toggle {
  border-color: #00a7dd;
  border: 0;
  border-radius: 2px;
  margin: 0;
}

header .navbar-default .nav-brand {
  display: none;
}
header .navbar-default .navbar-toggle .icon-bar {
  width: 30px;
  height: 3px;
}
header .navbar-default .navbar-toggle:hover,
header .navbar-default .navbar-toggle:focus {
  background: transparent;
}
header .navbar-default .navbar-toggle .icon-bar {
  background: #00a7dd;
}
header .navbar {
  border-radius: 0;
  margin-bottom: 0;
}
header ul > li  {
  margin-bottom: 0px;
}
header .navbar-default .navbar-nav > .current > a, 
header .navbar-default .navbar-nav > .current > a:hover,
header .navbar-default .navbar-nav > .current > a:focus {
    background-color: #00A7DD;
    color: #FEFEFE;
}

/*
========================================================================
# - 2.1 - Menu styles
------------------------------------------------------------------------
*/
header h1 {
  margin: 0;
  font-size: 0;
}
header .nav > li > a {
  font-family: 'Open Sans', sans-serif;
  text-transform: capitalize;
  padding: 12px 15px;
  border-radius: 2px;
}

header .navbar-default .navbar-nav > li > a {
  color: #00a7dd;
}
header .navbar-default .navbar-nav > li > a:hover {
  color: #017298;
}
header .navbar-default .navbar-nav > .active > a, 
header .navbar-default .navbar-nav > .active > a:hover, 
header .navbar-default .navbar-nav > .active > a:focus {
  background-color: #00a7dd;
  color: #fefefe;
}
header .navbar-default .navbar-nav > li > a:hover, 
header .navbar-default .navbar-nav > li > a:focus {
  color: #00a7dd;
  border:none;
}

/*
========================================================================
# - 2.2 - App styles
------------------------------------------------------------------------
*/
.app {
  text-align: center;
}
header .app li {
  float: left;
  margin-left: 10px;
} 
.app li .fa {
  font-size: 20px;
}

/*
========================================================================
# 3 - Banner styles
------------------------------------------------------------------------
*/
#video-background {
  position: absolute;
  width: 100%;
  height: 650px;
}
#videobcg { 
   position: absolute;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 100%;
   z-index: -1000;
   overflow: hidden;
}
#background-carousel{
  position: absolute;
  top: 0px;
  left: 0px;
  width:100%;
  height:820px;
  z-index:-1;
}
#background-carousel .carousel,
#background-carousel .carousel-inner {
  width:100%;
  height:100%;
  z-index:0;
  overflow:hidden;
}
#background-carousel .item {
  width:100%;
  height:100%;
  z-index:0;
  -webkit-transition: opacity 1s;
     -moz-transition: opacity 1s;
      -ms-transition: opacity 1s;
       -o-transition: opacity 1s;
          transition: opacity 1s;
}
#background-carousel .item-no1 {
  background: url(../img/slider/slide-1.jpg) no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}
#background-carousel .item-no2 {
  background: url(../img/slider/slide-2.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#background-carousel .item-no3 {
  background: url(../img/slider/slide-3.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#background-carousel .carousel .active.left {
  left:0;
  opacity:0;
  z-index:2;
}
#content-wrapper {
  position:absolute;
  z-index:1 ;
  min-width:100%;
  min-height:100%;
}
.banner-carousel .trans-bg {
  padding: 0 0px 120px;
}
.banner .container-fluid {
  position: relative;
}
.banner {
  /* background: url(../img/slider/slide-1.jpg) no-repeat fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section.banner-carousel {
  padding-top: 0px;
}
.banner-carousel h2,
.banner h2 {
  text-align: center;
  margin-bottom: 25px;
}
.banner-carousel h3,
.banner h3 {
  text-transform: capitalize;
  margin-bottom: 50px;
}
.banner-title {
  font-size: 45px;
  text-align: center;
  font-weight: 700;
  color: #fff;
}
.banner-carousel p,
.banner p {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 20px;
}

.banner-carousel h2 .lg-logo:hover img,
.banner h2 .lg-logo:hover img {
  position: relative;
  z-index: 2;
}
.lg-logo img {
	height:50%;
}
.banner-carousel h2 .lg-logo,
.banner h2 .lg-logo {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

/*.banner h2 .lg-logo.default-color {
  -webkit-box-shadow: 0px 0px 0px 10px rgb(114, 173, 189);
     -moz-box-shadow: 0px 0px 0px 10px rgb(114, 173, 189);
          
   box-shadow:0px 0px 0px 10px rgb(114, 173, 189); 
}*/

.banner-carousel h2 .lg-logo,       
.banner h2 .lg-logo {
  /*position: relative;*/
  display: inline-block;
 /* background: rgb(228, 240, 243);
  -webkit-box-shadow: 0px 0px 0px 10px rgba(16, 23, 26, 0.21);
     -moz-box-shadow: 0px 0px 0px 10px rgba(16, 23, 26, 0.21);
          box-shadow:0px 0px 0px 10px rgba(16, 23, 26, 0.21);
  border-radius: 50%;
  padding: 10px;*/
  line-height: 35px;
  font-size: 69px;
  text-decoration: none;
  color: #fff;
}
/*.banner-carousel h2 .lg-logo:after,
.banner h2 .lg-logo:after {
  content: "";
  position: absolute;  
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  z-index: -1;
  border-radius: 50%;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.banner-carousel h2 .lg-logo:hover:after,
.banner h2 .lg-logo:hover:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  background: rgb(228, 240, 243);
}
*/
.download-block .btn-download {
  margin: 25px 5px 0px;
  font-weight: 700;
  padding: 15px 55px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background: #0aabe1;
  border-radius: 2px;
  -webkit-transition: .3s ease;
     -moz-transition: .3s ease;
      -ms-transition: .3s ease;
       -o-transition: .3s ease;
          transition: .3s ease;
}
.download-block .btn-download:hover {
  background: #ff7f66;
}
.banner-carousel .app,
.banner .app {
  text-align: center;
}
.banner-carousel .app li,
.banner .app li {
  display: inline-block;
  margin: 0 33px; 
}
.banner-carousel .app li .fa,
.banner .app li .fa  {
  color: #fff;
  font-size: 30px;
}
.banner-carousel .app li .fa:hover,
.banner .app li .fa:hover {
  color: #086176;
}

.text-slider {
  margin-bottom: 30px;
}
.flex_text ul {
  padding-left: 0;
}
.flex_text li {
  text-align: center;
  font-size: 28px;
  color: #fff;
  min-height: 40px;
  line-height: 40px;
  margin-bottom: 0;
}

/*----banner image Version----*/

.norm-img .trans-bg {
  background: rgba(0, 0, 0, .38);
}

/*
========================================================================
# 4 - Intro styles
------------------------------------------------------------------------
*/
.intro {
  overflow: hidden;
  padding: 120px 0;
}
h2 { 
  margin-bottom: 50px;
  color: #fff;
}
h3 {
  font-weight: 600; 
  color: #0aabe1;
}
.intro .fa {
  display: inline-block;
  font-size: 32px;
  margin-bottom: 10px;
  padding: 22px;
  color: #00a8e0;
  border: 2px solid #00a8e0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  transition:  all ease-in .4s;
  -webkit-transition: all ease-in .4s;
  -moz-transition: all ease-in .4s;
}
.app-block {
  text-align: center;
  margin-bottom: 30px;
}
.app-block:hover .fa {
  color: #fff;
  box-shadow: inset 0px 0px 0px 50px #00a8e0;
  -webkit-box-shadow: inset 0px 0px 0px 50px #00a8e0;
  -moz-box-shadow: inset 0px 0px 0px 50px #00a8e0;
  border: 2px solid transparent;
}

/*
========================================================================
# 5 - Feature styles
------------------------------------------------------------------------
*/

.feature {
  /* background: url(../img/feature_bg.jpg) no-repeat fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 0 0;
  overflow: hidden;
}
.feature-list-left li {
  text-align: right;
  padding-right: 80px;
}
.feature-list-left li, .feature-list-right li {
  position: relative; 
  margin-bottom: 30px;
}
.feature-list-left .feature-icon {
  position: absolute;
  top: 15%;
  right: 0px;
  width: 58px;
  height: 58px;  
}
.feature-list-left .feature-icon, .feature-list-right .feature-icon {
  width: 58px;
  height: 58px;
  text-align: center;
  line-height: 56px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  -webkit-transition: all ease-in .4s;
  -moz-transition: all ease-in .4s;
  -o-transition: all ease-in .4s;
  -ms-transition: all ease-in .4s;
}
.feature-list-left .fa, .feature-list-right .fa {
  font-size: 23px;
  line-height: 56px;  
}
.feature-list-right .feature-detail {
  
}
.feature-list-right li {
  text-align: left;
  padding-left: 80px;
}
.feature-list-right .feature-icon {
  position: absolute;
  top: 15%;
  left: 0px;
  width: 58px;
  height: 58px;
}

.feature h4 {
  font-weight: 700;
  color: #fff;
}
.feature p {
  font-size: 14px;
  color: #fff;
} 
.feature-list-left li:hover .feature-icon, .feature-list-right li:hover .feature-icon {
  box-shadow: inset 0px 0px 0px 50px #fff;
  -webkit-box-shadow: inset 0px 0px 0px 50px #fff;
  -moz-box-shadow: inset 0px 0px 0px 50px #fff;
  color: #00A7DD;
  border: 2px solid transparent;
}
/*
========================================================================
# 6 - News styles
------------------------------------------------------------------------
*/
.news {
    padding: 120px 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.news .carousel-inner .item{
  padding: 0 120px;
}
.amp .news .carousel-inner .item{
  padding: 0px 12px 0px 12px;
}
.amp .text-center {
	text-align: center;
}
.amp .vis-visible {
	visibility: visible;
}
.amp .all-news-link {
	margin-top: 25px;
}
.amp-version a {
	color: #fff;
    font-size: 13px;
}
.amp-version {
	margin-bottom: 34px;
    text-align: center;
}
.amp .full-version {
    text-align: center;
}
.amp .banner .full-version {
	margin-top: 10px;
}
.amp .banner .full-version a {
    color: #fff;
    font-size: 16px;
}
.news .carousel-inner > .item > img {
  width: auto;
}
.carousel-control.right, .carousel-control.left {
  filter:inherit;
}
.news-name {
  font-family: 'Dosis', sans-serif;
  font-size: 24px;
  font-weight: 700; 
  display: block;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.news-date {
  position: relative;
  font-family: 'Dosis', sans-serif;
  font-size: 19px;
  font-weight: 700;
  text-transform: capitalize; 
  display: block;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.news-date:after {
  content: "";
  height: 1px;
  background: #0aabe1;
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 40px;
  margin-left: -20px;
}
.news-comp {
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
}
.news-img {
  position: relative;
  display: inline-block;
  margin: 25px 0 30px;
  box-shadow: 0 0 0px 10px rgba(0, 167, 221, 0.5);
  -webkit-box-shadow: 0 0 0px 10px rgba(0, 167, 221, 0.5);
  -moz-box-shadow: 0 0 0px 10px rgba(0, 167, 221, 0.5);
}
.news-img > img {
    width: 350px;
}
.news-img:after {
  position: absolute;
  content: "";
  top: -10px;
  bottom: -10px;
  left: -10px;
  right: -10px;
  z-index: -1;
  box-shadow: 0 0 0px 10px rgba(0, 167, 221, 0.5);
  -webkit-box-shadow: 0 0 0px 10px rgba(0, 167, 221, 0.5);
  -moz-box-shadow: 0 0 0px 10px rgba(0, 167, 221, 0.5);
  -webkit-transition: all ease-in .2s;
  -moz-transition: all ease-in .2s;
  -o-transition: all ease-in .2s;
  -ms-transition: all ease-in .2s;
}
.news-img:hover:after {
  position: absolute;
  content: "";
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 2;
}
.carousel-inner > .item > img {
  display: inline-block;
}

/*----norm-img Version----*/
.norm-img .news-img {
  box-shadow: 0 0 0px 20px rgba(32, 60, 69, 0.21);
  -webkit-box-shadow: 0 0 0px 20px rgba(32, 60, 69, 0.21);
  -moz-box-shadow: 0 0 0px 20px rgba(32, 60, 69, 0.21);
}
.norm-img .news-img:after {
  box-shadow: 0 0 0px 20px rgba(32, 60, 69, 0.21);
  -webkit-box-shadow: 0 0 0px 20px rgba(32, 60, 69, 0.21);
  -moz-box-shadow: 0 0 0px 20px rgba(32, 60, 69, 0.21);
}
.carousel-control {
  width: 50px;
  height: 50px;
  top: 34%;
}
.news p {
    font-style: italic;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    
}
.news a {
    color: #428bca;
    text-decoration: none;
}
.news .carousel-control.left, .news .carousel-control.right {
  background-image: none;
}
.news .carousel-control .fa {
  font-size: 120px;
  line-height: .6;
}
.news .carousel-control {
  text-shadow:none;
}
/*
========================================================================
# 13 - Contact styles
------------------------------------------------------------------------
*/

section.contact {
  padding-top: 120px;
  padding-bottom: 0;
}
section.contact > .container {
  margin-top: -180px;
}
.contact .nav-tabs {
  border-bottom: none;
  position: relative;
  z-index: 1;
}
.contact .nav-tabs li {
  float: none;
  display: inline-block;
  margin: 0 9% 25px;
}
.contact .nav-tabs > li > a {
  background: transparent;
  margin: 0;
  position: initial;
}
.contact .nav-tabs > li > a:hover {
  border-color: transparent transparent transparent;
}
.contact .nav > li > a:hover, .contact .nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
}
.contact .nav-tabs li .fa {
  background: #0aabe1;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  font-size: 50px;
  height: 100px;
  line-height: 2;
  width: 100px;
          box-shadow: 0px 0px 0px 20px rgb(255, 255, 255);
  -webkit-box-shadow: 0px 0px 0px 20px rgb(255, 255, 255);
     -moz-box-shadow: 0px 0px 0px 20px rgb(255, 255, 255);
}
.contact .nav-tabs > li.active > a,
.contact .nav-tabs > li.active > a:hover,
.contact .nav-tabs > li.active > a:focus {
  border: 1px solid transparent;
}

.contact .nav-tabs li .fa:hover,
.contact .nav-tabs > li.active > a .fa,
.contact .nav-tabs > li.active > a:hover .fa,
.contact .nav-tabs > li.active > a:focus .fa {
  background: #fff;
  color: #0aabe1;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 0px 20px rgba(255, 255, 255,0.75);
     -moz-box-shadow: 0px 0px 0px 20px rgba(255, 255, 255,0.75);
          box-shadow: 0px 0px 0px 20px rgba(255, 255, 255,0.75);
}
.contact-success {
  background: transparent;
  border: 1px solid #64AB89;
  border-radius: 2px;
  padding: 5px;
  color: #64AB89;
  text-align: center;
  display: none;
} 

.contact-error {
  background: transparent;
  border: 1px solid #A87C7C;
  border-radius: 2px;
  padding: 5px;
  color: #A87C7C;
  text-align: center;
  display: none;
}

/*
=============================================
# - 13.1 - Contact-info
--------------------------------------------
*/

.info-holder{
  margin-bottom: 50px;
}
.contact-info .fa {
  font-size: 50px;
  color: #0aabe1; 
  margin-bottom: 50px;
} 

/*
=============================================
# - 13.2 - Contact-form
--------------------------------------------
*/

.span-form {
  float: left;
  width: 31%;
  margin-left: 2%;
}
.form-group .span-form:first-child {
  margin-left: 0;
}
.form-horizontal:after {
  content: "";
  display: table;
}
.form-horizontal:after {
  clear: both;
}
.contact .form-horizontal .form-group {
  margin-left: 0px;
  margin-right: 0px;
}
.contact .form-horizontal {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 50px;
}
.contact .form-control {
  border: 1px solid #e1e1e1;
  height: 35px;
  padding: 20px;
  overflow: auto;
  line-height: 17px;
  letter-spacing: 0.3px;
  border: 1px solid #F2F2F2;
  resize: vertical;
  outline: none;
}
.contact .form-control:focus {
  box-shadow: none;
  border: 1px solid #0aabe1;
}
.contact textarea.form-control {
  height: 101px;
}
.contact .btn {
  padding: 9px 10px;
}
.contact .btn:hover {
  background: #0aabe1;
} 
#map, .map {
  height: 400px;
  width: 100%;
}

/*
========================================================================
# 14 - Footer styles
------------------------------------------------------------------------
*/

#footer {
  /* background: url(../img/footer_bg.jpg) no-repeat fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.social-icon {
  margin-bottom: 60px;
}
.social-icon a {
  margin: 0 16px 20px 16px;
  display: inline-block;
}
.social-icon .fa {
  font-size: 30px;
  color: #0aabe1;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #fff;
  line-height: 2;
  border: 10px solid rgba(107, 197, 225, 0.48);
  transition:.3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  -ms-transition: .3s;
}
.social-icon a:active .fa,
.social-icon a.active .fa,
.social-icon a:hover .fa {
  border: 10px solid #fff;
  line-height: 2;
}
.norm-img .social-icon .fa {
  border: 10px solid rgba(32, 60, 69, 0.21);
}
.copyright {
  font-size: 20px;
  position: relative;
  color: #fff;
}
.home-poll {
	width: 50%;
	margin: 0 auto;
}
.live-int {
    text-align: center;
}
.amp .copyright {
    text-align: center;
}
.amp h1 {
	font-size: 48px;
}
.amp .feature h2, .amp .contact h2, .amp .links h2 {
	font-size: 36px;
}
.amp .info-holder {
	color: #fff;
}
.amp .info-holder a {
	color: #fff;
}
.amp .feature-list-right li {
	padding-left: 40px;
	padding-right: 40px;
}
.copyright span {
  display: inline-block;
  margin-right: 5px;
  text-transform: uppercase;
  font-weight: 700;
}
.copyright p {
  margin: 40px 0;
}
.copyright:after {
  content: " ";
  position: absolute;
  bottom: 45px;
  left: 50%;
  height: 2px;
  width: 50px;
  margin-left: -25px;
  background: #fff;
}
.pointer {
    width: 67px;
    height: 67px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    background: none repeat scroll 0% 0% #2D5F80;
    padding: 15px;
    border-radius: 50%;
}
.pointer .fa {
  font-size: 40px;
  color:rgba(255, 255, 255, .38)
}
.pointer .fa:hover {
  color: #fff;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  -ms-transition: .3s;
}

.go-to-top-button {
    position: fixed;
    z-index: 10000;
    right: 3%;
    bottom: 0px;
    margin: 0px 0px 20px;    
    width: 50px;
    height: 50px;
    font-size: 1.5em;
    color: #fff;
    background: #2C98DE;
    border: none;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,.275);
    outline: none;
}
.go-to-top-button:hover {
    color: #2C98DE;
    background: #fff;
    border: 5px solid #2C98DE;
}
.go-to-top-button .in {
    vertical-align: 3px;
}
.go-to-top-button:hover .in {
    display: none;
}
.go-to-top-button .out {
    display: none;
    vertical-align: 3px;
}
.go-to-top-button:hover .out {
    display: inline;
    vertical-align: 3px;
}
.inner {
  padding: 30px;
}
#btn-enter {
    display: inline-block;
    font-size: 35px;
    padding: 5px;
    color: #fff;
    border: 3px solid #fff;
    width: 77%;
    border-radius: 35px;
    text-decoration: none;
}
#btn-enter:hover {
    border: 3px solid #fff;
    color: #1186ac;
    background-color: #fff;
    opacity: 1;
    
}
.lead-foot-fix {
	height: 0px;
}
.cover {
  padding: 30px 20px;
  text-align: center;
}
.font {
    font-size: 14px;
    line-height: 0;
}
.terms-link>a {
    color: #fff;
    font-size: 15px;
    text-decoration: underline;
}
.terms-link {
    color: #fff;
}
.terms-text {
    color: #fff;
}
.ds {
    display: inline-block;
}
.select-day {
    width: 70px;
}
.spinner input {
  text-align: right;
}

.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 2%;
  vertical-align: middle;
  display: table-cell;
}

.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}

.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}

.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}

.input-group-btn-vertical i {
  position: absolute;
  top: 0;
  left: 4px;
}
.material-switch {
    margin: 0px 50px 0px 0px;
}
.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    /*width: 40px;*/
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}
.month {
    vertical-align: 50%;
    margin-left: 2px;
}
.text-currency {
    float: left;
    margin: 7px 5px 0px 0px;
}
.choice-currency {
    width: 75px;
}
.ap-tr {
    height: 70px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 7px;
    vertical-align: middle;
    border-top: 1px solid #ddd;
    text-align: center;
}
.currency {
    width: 17%;
}
#btn-subscription {
    display: inline-block;
    font-size: 33px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: #fff;
    border: 3px solid #fff;
    width: 370px;
    border-radius: 35px;
    text-decoration: none;
}
#btn-subscription:hover {
    border: 3px solid #fff;
    color: #1186ac;
    background-color: #fff;
    opacity: 1;
    
}
.table-payments {
    color: #3E7FB9;
}
.calcw {
    width: 33%
}.calcw1 {
    width: 25%
}.calcw2 {
    width: 25%
}
.infinity {
    font-size: 30px;
}
.carousel-control:hover, .carousel-control:focus {
    color: #017298;
}
.home-text {
    color: #fff;
    text-align: center;
    margin-bottom: 25px;
}
.table-adaptive {
    border: 1px solid #ccc;
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
}
.table-adaptive thead {
    background-color: #f5f5f5;
}
.table-adaptive tr {
    border-top: 1px solid #ddd;
    padding: 5px;
}
.ap-tr-name {
    height: 40px;
    background-color: #f5f5f5;
    font-weight: 700;
}
.table-adaptive th,
.table-adaptive td {
    padding: 10px;
    text-align: center;
}
.table-adaptive th {
    font-size: 14px;
    letter-spacing: 1px;
}
table-adaptive th, .table-adaptive td.total-calc {
    text-align: right;
}
.brain-bg {
    padding-bottom: 45px;
    background: url(../img/logo-brain.png) no-repeat calc(100vw / 2 - 672px) 0;
    height: 619px;
}
@media (max-width: 1200px) {
    .brain-bg {
        padding-bottom: 45px;
        background: url(../img/logo-brain.png) no-repeat calc(100vw / 2 - 500px) 0;
        height: 619px;
    }
}
@media (max-width: 992px) {
    .brain-bg {
        padding-bottom: 45px;
        background: url(../img/logo-brain.png) no-repeat calc(100vw / 2 - 488px) 0;
        height: 540px;
    }
}
@media (max-width: 768px) {
    .brain-bg {
        padding-bottom: 45px;
        background: url(../img/logo-brain.png) no-repeat calc(100vw / 2 - 447px) 0;
        height: 540px;
    }
}
@media (max-width: 600px) {
    .brain-bg {
            padding-bottom: 45px;
            background: url(../img/logo-brain.png) no-repeat center 75px;
            height: 616px;
        }
}
.brain {
    padding-top: 275px;
    padding-left: 105px;
    font-size: 20px;
    color: white;
}
@media (max-width: 1200px) {
    .brain {
        padding-top: 275px;
        padding-left: 193px;
        font-size: 20px;
        color: white;
    }
}
@media (max-width: 992px) {
    .brain {
        padding-top: 275px;
        padding-left: 103px;
        font-size: 20px;
        color: white;
    }
}
@media (max-width: 768px) {
    .brain {
        padding: 0px;
        text-align: center;
        font-size: 20px;
        color: white;
    }
}
.header-text-container {
    text-align: right;
}
.header-text h1 {
    font-size: 45px;
    color: white;
    font-weight: 600;
    margin: 39px 50px 0px 0px;
}
.header-text h5 {
    font-size: 24px;
    font-weight: 300;
    color: white;
    margin: 30px 50px 50px 0px;
    text-align: right;
}
@media (max-width: 1200px) {
    .header-text h1 {
        font-size: 37px;
        color: white;
        font-weight: 600;
        margin: 39px 50px 0px 0px;
    }
    .header-text h5 {
        font-size: 19px;
        font-weight: 300;
        color: white;
        margin: 30px 50px 50px 0px;
        text-align: right;
    }
}
@media (max-width: 992px) {
    .header-text h1 {
        font-size: 35px;
        color: white;
        font-weight: 600;
        margin: 39px 50px 0px 0px;
    }
    .header-text h5 {
        font-size: 17px;
        font-weight: 300;
        color: white;
        margin: 30px 50px 50px 0px;
        text-align: right;
    }
}
@media (max-width: 768px) {
    .header-text h1 {
        font-size: 27px;
        color: white;
        font-weight: 600;
        margin: 39px 50px 0px 0px;
    }
    .header-text h5 {
        font-size: 14px;
        font-weight: 300;
        color: white;
        margin: 30px 50px 50px 0px;
        text-align: right;
    }
}
.nav-brand img {
    margin-top: -9px;
}
@media screen and (max-width: 600px) {
    .table-adaptive {
        border: 0;
    }
    .table-adaptive thead {
        display: none;
    }
    .table-adaptive tr {
        margin-bottom: 10px;
    }
    .table-adaptive td {
        display: block;
        text-align: right;
        font-size: 12px;
        border-bottom: 1px dashed #ccc;
    }
    .table-adaptive td:last-child {
        border-bottom: 0;
    }
    .table-adaptive td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
    }
    .infinity {
        font-size: 14px;
    }
    #btn-subscription {
        font-size: 20px;
        width: 100%;
    }
}
@media (max-width: 768px){
	#btn-enter {
	    display: inline-block;
	    font-size: 14px;
	    padding: 5px;
	    color: #fff;
	    border: 3px solid #fff;
	    width: 90%;
	    border-radius: 35px;
	    text-decoration: none;
        text-align: center;
	}
    .cover {
        padding: 180px 20px 0px 20px;
        text-align: center;
    }
	.lead-foot-fix {
	    height: 0px;
	}
	.home-poll {
		width: 90%;
	}
}
@media (max-width: 480px){
	.home-poll {
		width: 100%;
	}
}
@media (max-width: 360px){
    li.mi-subscr {
       display: none;
    }
    .no-amp .news .carousel-inner .item {
        padding: 0;
    }
}
@media (max-width: 320px){
    #contactForm .col-sm-6 .span-form:nth-child(3) {
        margin-left: 12%;
    }
    #contactForm .col-sm-6 .span-form:nth-child(4) {
        margin-left: 2%;
    }
    .span-form {
        width: 28%;
    }
    #contactForm .btn-block {
        font-size: 10px;
        margin-top: 3px;
    }
    .home-poll {
		display: none;
	}
}

@media (max-height: 823px){
    .lead-foot-fix {
        height: 264px;
    }
}
@media (max-height: 731px){
    .lead-foot-fix {
        height: 175px;
    }
}
@media (max-height: 640px){
    .lead-foot-fix {
        height: 43px;
    }
}